* {
    margin: 0;
    padding: 0;
}



body {
    background-color:#b4b4b4;
    color: #434343;
    font-family: 'Arial', 'Verdana', sans-serif;
}

.label{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: center;
}


.input{
    background-color: rgb(130 130 130);
    font-size: 18px;
    padding: 20px;
    border-radius: 4px;
    margin:auto;
    width: 700px;
    height: 525px;
}

.result{
    margin: auto;
    margin-top: 50px;
    width: 700px;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.form-group-input label{
    display: block;
    color: #ffffffcc;
}

.form-group-input input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ffffffcc;
    color: #fff;
    padding: 15px 0 5px;
    outline: none;
}

.submit {
    background-color: rgb(51, 153, 248);
    color: #ffffff;
    padding: 15px 20px;
    margin-top: 2px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
}

.submit:hover{
    opacity: 0.8;
}

.form-group-input input:hover{
    opacity: 0.4;
}